/*------EXEMPLE 1------*/

.ex1 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.ex1 h1 {
    font-size: 1em;
    text-decoration: none;
    text-align: left;
    text-transform: none;
}

/*------EXEMPLE 2------*/

.ex2 {
    border: 1px solid black;
    border-radius: 5px;
    height: 20px;
    margin-top: 20px;
    background-color: rgba(234, 225, 135, 0.79);
}

/*------EXEMPLE 3------*/

.ex3 {
    background-color: rgba(234, 225, 135, 0.79);
    color: black;
    text-decoration: none;
    text-align: left !important;
}