/*-------TYPOGRAPHIE--------*/

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
    font-size: 14px;
    color: #000;
    font-family: arial;
    text-align: center;
    line-height: 20px;
}

h1 {
    font-size: 3em;
    line-height: 1em;
    text-transform: uppercase;
    text-decoration: underline;
}

.soustitre {
    font-size: 2.9em;
    text-decoration: none;
    display: inline;
}

h2 {
    font-size: 2.6em;
    line-height: 30px;
    text-decoration: underline;
}

h3 {
    line-height: 30px;
}

h4 {
    font-size: 2.8em;
    margin-bottom: 20px;
    line-height: 32px;
}

td {
    text-align: center;
}

td a {
    font-size: 1.2em;
    text-decoration: none;
}

a {
    color: #000;
    text-decoration: none;
}

p {
    text-align: left;
}

span {
    text-decoration: underline;
}

bold {
    font-weight: bold;
}

code {
    color: #fff;
    text-align: left;
    font-family: 'Source Code Pro';
}

code span {
    line-height: 16px;
    text-decoration: none;
}

.tab1 {
    padding-left: 30px;
}

.tab2 {
    padding-left: 60px;
}

.tab3 {
    padding-left: 90px;
}

.tab4 {
    padding-left: 120px;
}

.tab5 {
    padding-left: 150px;
}

.tab6 {
    padding-left: 180px;
}

li {
    text-align: left;
    list-style-type: circle;
    margin-left: 20px;
    margin-top: 5px;
}

.table-titre {
    font-size: 1.5em;
}

/*-------COLORISATION-------*/

body {
    background-color: #11110e;
}

.main {
    background-color: #fff;
}

code {
    background-color: #11110e;
}

.tag {
    color: rgba(241, 184, 117, 0.66);
}

.attribut {
    color: rgba(239, 167, 231, 0.56);
}

.valeur {
    color: rgba(234, 225, 135, 0.79);
}

.propriete {
    color: rgba(156, 226, 239, 0.73);
}

span {
    color: #c51111;
}

.noir {
    background-color: #11110e;
    color: #fff;
}

.blanc {
    background-color: #fff;
}

/*-------POSITIONNAGE-------*/

.main {
    max-width: 600px;
    margin: 10px auto;
    border-radius: 20px;
    padding: 30px;
}

h1 {
    margin-bottom: 20px;
}

.soustitre {
    width: 150px;
    margin: 40px auto 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-style: dashed;
}

.glossaire {
    width: 200px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 20px auto 0;
}

.glossaire a {
    display: block;
    margin-top: 3px;
}

h2 {
    padding-top: 120px;
}

table {
    margin: 0 auto;
}

td {
    width: 100px;
    border: 1px black;
    border-radius: 10px;
    padding: 10px;
}

.prez {
    height: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
}

article {
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

code {
    display: block;
    padding: 30px 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.blanc {
    border: 1px solid black;
}

article p {
    margin-top: 20px;
}

table {
    border: 1px solid black;
    border-radius: 15px;
    width: 500px;
    border-collapse: separate;
}

td {
     vertical-align: middle;
}

/*------MEDIA QUERIES------*/

@media screen and (max-width: 675px) {
    .main {
        margin: 0;
        border-radius: 0;
    }
}