/*-------TYPOGRAPHIE--------*/

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
    font-size: 14px;
    color: #000;
    font-family: arial;
    text-align: center;
    line-height: 20px;
}

nav {
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
    line-height: 1em;
    text-transform: uppercase;
    text-decoration: underline;
}

.soustitre {
    font-size: 2.9em;
    text-decoration: none;
    display: inline;
}

h2 {
    font-size: 2.6em;
    line-height: 30px;
    text-decoration: underline;
}

h3 {
    line-height: 30px;
}

h4 {
    font-size: 2.8em;
    margin-bottom: 20px;
    line-height: 32px;
}

td {
    text-align: center;
}

td a {
    font-size: 1.2em;
    text-decoration: none;
}

a {
    color: #000;
    text-decoration: none;
}

p a {
    text-decoration: underline;
}

p {
    text-align: left;
}

span {
    text-decoration: underline;
}

bold {
    font-weight: bold;
    font-family: 'Source Code Pro', "Courier New", monospace;
}

.gras {
    font-weight: bold;
}

code {
    color: #fff;
    text-align: left;
    font-family: 'Source Code Pro', "Courier New", monospace;
}

code span {
    line-height: 16px;
    text-decoration: none;
}

code li {
    list-style: none;
    margin-top: 0;
}

.tab1 {
    padding-left: 30px;
}

.tab2 {
    padding-left: 60px;
}

.tab3 {
    padding-left: 90px;
}

.tab4 {
    padding-left: 120px;
}

.tab5 {
    padding-left: 150px;
}

.tab6 {
    padding-left: 180px;
}

li {
    text-align: left;
    list-style-type: circle;
    margin-left: 20px;
    margin-top: 5px;
}

.table-titre {
    font-size: 1.5em;
}

/*-------COLORISATION-------*/

body {
    background-color: #11110e;
}

nav {
    background-color: #fff;
}

.main {
    background-color: #fff;
}

code {
    background-color: #11110e;
}

.tag { /* ou sélécteur */
    color: rgba(241, 184, 117, 0.66);
}

.attribut {
    color: rgba(239, 167, 231, 0.56);
}

.valeur {
    color: rgba(234, 225, 135, 0.79);
}

.valeur a {
    color: rgba(234, 225, 135, 0.79);
}

code li a {
    color: #fff;
}

.propriete {
    color: rgba(156, 226, 239, 0.73);
}

span {
    color: #c51111;
}

.noir {
    background-color: #11110e;
    color: #fff;
}

.blanc {
    background-color: #fff;
}

/*-------POSITIONNAGE-------*/

.center {
    width: 100%;
    position: fixed;
    top: 10px;
    z-index: 0;
}

nav {
    width: 150px;
    margin-left: 80%;
    border-radius: 20px;
    text-align: center;
    padding: 15px 5px 7px 25px;
    z-index: 2;
}

nav li {
    margin-top: 0;
    margin-bottom: 10px
}

.submenu {
    margin-top: 12px;
}

nav ul ul {
    display: none;
}

nav ul li:hover ul {
    display: block;
}
    
.visible.phone {
    display: none;
}

.main {
    max-width: 600px;
    margin: 10px auto 10px;
    border-radius: 20px;
    padding: 30px;
    position: relative;
    z-index: 1;
}

h1 {
    margin-bottom: 20px;
}

.soustitre {
    width: 150px;
    margin: 40px auto 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-style: dashed;
}

.glossaire {
    width: 200px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 20px auto 0;
}

.glossaire a {
    display: block;
    margin-top: 3px;
}

.relative {
    position: relative;
}

article {
    position: relative;
}

.id {
    height: 2px;
    background-color: #000;
    display: inline;
    top: -66px;
    position: absolute;
}

h2 {
    padding-top: 120px;
}

table {
    margin: 0 auto;
}

td {
    width: 100px;
    border: 1px black;
    border-radius: 10px;
    padding: 10px;
    padding-right: 20px;
}

.prez {
    height: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
}

article {
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

code {
    display: block;
    padding: 30px 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.blanc {
    border: 1px solid black;
}

article p {
    margin-top: 10px;
}

table {
    border: 1px solid black;
    border-radius: 15px;
    width: 500px;
    border-collapse: separate;
}

td {
     vertical-align: middle;
}

.gauche {
    width: 40%;
}

.droite {
    width: 60%;
}

/*------MEDIA QUERIES------*/

@media screen and (max-width: 675px) {
    .main {
        margin: 0;
        border-radius: 0;
        margin-top: 62px;
    }
    .center {
        width: 100%;
        top: 0;
        z-index: 2;
        border-bottom: 1px solid black;
    }
    nav {
        width: 100%;
        margin: 0 auto;
        margin-left: -20px;
        border-radius: 0;
        padding: 15px;
    }
    nav ul li:hover ul {
        display: none;
    }
    nav ul li {
        display: inline;
    }
    .invis.phone {
        display: none ;
    }
    .visible.phone {
        display: inline;
    }
    td {
        display: block;
    }
    table {
        width: 100%;
    }
    tbody {
        padding: 0;
    }
    .droite, .gauche {
        width: 100%;
        padding: 0;
    }
    .table-titre {
        display: none;
    }
    .gauche {
        margin-top: 10px;
    }
    .droite {
        margin-bottom: 10px;
    }
    code {
        word-wrap: break-word;
        position: relative;
    }
}


@media screen and (min-width: 1900px) {
    .main {
        max-width: 700px;
    }
}